# --- kube-prometheus-stack ---
kube-prometheus-stack:
  fullnameOverride: prometheus

  grafana:
    enabled: true
    service:
      type: NodePort
    adminPassword: admin
  crds:
    enabled: false

  kubeEtcd:
    enabled: false
  kubeProxy:
    enabled: false
  kubeScheduler:
    enabled: false
  kubeControllerManager:
    enabled: false

  kube-state-metrics:
    enabled: true

  prometheus:
    prometheusSpec:
      retention: 2d
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: standard   # Minikube default
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 5Gi
      resources:
        requests:
          cpu: 200m
          memory: 512Mi
        limits:
          cpu: 500m
          memory: 1Gi

# --- Loki disabled for first GitOps test ---
loki-stack:
  loki:
    enabled: false
  promtail:
    enabled: false

