kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      # externalUrl: https://prod-us-central-old.oceansmart.com/prometheus
      retention: 30d
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: default
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 100Gi

  alertmanager:
    config:
      route:
        receiver: msteams-production-system
        routes:
          - receiver: msteams-production-critical
            match_re:
              alertname: ^(KubeNodeNotReady|KubePodCrashLooping|KubeDeploymentReplicasMismatch|KubeStatefulSetReplicasMismatch|KubeContainerWaiting|KubePersistentVolumeFillingUp)$
          - receiver: msteams-production-critical
            match_re:
              route: ^certificates$
          - receiver: msteams-production-ocimf
            match_re:
              job_name: ^ocimf-.*$
      receivers:
        - name: "null"
        - name: msteams-production-critical
          webhook_configs:
            - url: http://prometheus-msteams:2000/production-critical
              send_resolved: true
        - name: msteams-production-ocimf
          webhook_configs:
            - url: http://prometheus-msteams:2000/production-ocimf
              send_resolved: true
        - name: msteams-production-system
          webhook_configs:
            - url: http://prometheus-msteams:2000/production-system
              send_resolved: true

prometheus-msteams:
  connectors:
    # Alerts (Production, Critical)
    - production-critical: https://oceaneering.webhook.office.com/webhookb2/0e0eb5ae-49a8-4aec-8d2f-03808ae5554a@97525e9a-595d-472c-8248-0dc58f852d61/IncomingWebhook/13d13b30146e43119f8cca357e5edbfe/7d507ba7-f224-4530-bdc2-c1bb36d2c32f
    # Alerts (Production, OCIMF)
    - production-ocimf: https://oceaneering.webhook.office.com/webhookb2/0e0eb5ae-49a8-4aec-8d2f-03808ae5554a@97525e9a-595d-472c-8248-0dc58f852d61/IncomingWebhook/869b5ca17d9543d99c8d2d7910157891/7d507ba7-f224-4530-bdc2-c1bb36d2c32f
    # Alerts (Production, System)
    - production-system: https://oceaneering.webhook.office.com/webhookb2/0e0eb5ae-49a8-4aec-8d2f-03808ae5554a@97525e9a-595d-472c-8248-0dc58f852d61/IncomingWebhook/78f403a1bb4e4fe5aa62047fe158c7c2/7d507ba7-f224-4530-bdc2-c1bb36d2c32f

ingresses: ["prometheus-redirect", "prometheus", "prometheus-alertmanager"]

prometheus-redirect:
  tls: true
  tlsSecretName: prod-us-central-old-oceansmart-com
  service: prometheus-prometheus
  port: 9090
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^/$ https://monitoring.oceansmart.com permanent;
  hosts:
    - host: prod-us-central-old.oceansmart.com
      paths:
        - path: "/"

prometheus:
  tls: true
  tlsSecretName: prod-us-central-old-oceansmart-com
  service: prometheus-prometheus
  port: 9090
  annotations:
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-secret: prometheus-basic-auth
    nginx.ingress.kubernetes.io/auth-realm: Restricted
    # In Grafana we add the header: "X-Forwarded-For: 1.1.1.1" ("nginx-ingress" will use it as an client IP)
    # "nonprod" Kubernetes cluster IP: 104.42.123.34
    # "prod-us-east" Kubernetes cluster IP: 20.83.140.95
    nginx.ingress.kubernetes.io/whitelist-source-range: 1.1.1.1/32,104.42.123.34/32,20.83.140.95/32
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^/prometheus$ /prometheus/ permanent;
  hosts:
    - host: prod-us-central-old.oceansmart.com
      paths:
        - path: "/prometheus(/|$)(.*)"

prometheus-alertmanager:
  tls: true
  tlsSecretName: prod-us-central-old-oceansmart-com
  service: prometheus-alertmanager
  port: 9093
  annotations:
    # "nonprod" Kubernetes cluster IP: 104.42.123.34
    # "prod-us-east" Kubernetes cluster IP: 20.83.140.95
    nginx.ingress.kubernetes.io/whitelist-source-range: 104.42.123.34/32,20.83.140.95/32
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^/alertmanager$ /alertmanager/ permanent;
  hosts:
    - host: prod-us-central-old.oceansmart.com
      paths:
        - path: "/alertmanager(/|$)(.*)"
