name: ""

# Prometheus
kube-prometheus-stack:
  fullnameOverride: prometheus
  grafana:
    enabled: true
    service:
       type: NodePort
  kubeEtcd:
    enabled: false
  kubeProxy:
    enabled: false
  kubeScheduler:
    enabled: false
  kubeControllerManager:
    enabled: false
  kube-state-metrics:
    enabled: false
    fullnameOverride: prometheus-kube-state-metrics
    resources:
      requests:
        cpu: 20m
        memory: 32Mi
      limits:
        cpu: 100m
        memory: 128Mi
  prometheus-node-exporter:
    fullnameOverride: prometheus-node-exporter
    resources:
      requests:
        cpu: 50m
        memory: 32Mi
      limits:
        cpu: 250m
  prometheus:
    prometheusSpec:
      retention: 10d
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: default
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 10Gi
      resources:
        requests:
          cpu: 300m
          memory: 512Mi
        limits:
          cpu: 1500m
          memory: 1Gi
    additionalServiceMonitors:
      - name: vessel-position
        selector:
          matchLabels:
            app.kubernetes.io/name: vessel-positions-aws
        namespaceSelector:
          any: true
        endpoints:
          - port: metrics
            interval: 30s
      - name: prometheus-ingress
        selector:
          matchLabels:
            app.kubernetes.io/name: ingress-nginx
            app.kubernetes.io/component: controller
        namespaceSelector:
          any: true
        endpoints:
          - port: metrics
            interval: 30s
      - name: universal-metrics-default
        selector:
          matchLabels:
            prometheus-metrics: "true"
        namespaceSelector:
          any: true
        endpoints:
          - port: metrics
      - name: universal-metrics-1m
        selector:
          matchLabels:
            prometheus-metrics-1m: "true"
        namespaceSelector:
          any: true
        endpoints:
          - port: metrics
            interval: 1m
            scrapeTimeout: 30s
      - name: universal-metrics-5m
        selector:
          matchLabels:
            prometheus-metrics-5m: "true"
        namespaceSelector:
          any: true
        endpoints:
          - port: metrics
            interval: 5m
            scrapeTimeout: 3m
      - name: universal-metrics-10m
        selector:
          matchLabels:
            prometheus-metrics-10m: "true"
        namespaceSelector:
          any: true
        endpoints:
          - port: metrics
            interval: 10m
            scrapeTimeout: 8m
      - name: universal-metrics-15m
        selector:
          matchLabels:
            prometheus-metrics-15m: "true"
        namespaceSelector:
          any: true
        endpoints:
          - port: metrics
            interval: 15m
            scrapeTimeout: 13m
      - name: universal-metrics-30m
        selector:
          matchLabels:
            prometheus-metrics-30m: "true"
        namespaceSelector:
          any: true
        endpoints:
          - port: metrics
            interval: 30m
            scrapeTimeout: 15m
      - name: metrics-tom-cdc
        selector:
          matchLabels:
            prometheus-metrics-tom-cdc: "true"
        namespaceSelector:
          any: true
        endpoints:
          - port: metrics
            path: /q/metrics
            interval: 30s
            scrapeTimeout: 5m
  prometheusOperator:
    namespaces:
      releaseNamespace: true
      additional: []
    configReloaderCpu: 100m
    resources:
      requests:
        # Default: 100m
        cpu: 50m
        # Default: 100Mi
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 256Mi
  alertmanager:
    alertmanagerSpec:
      retention: 120h
      externalUrl: https://monitoring.oceansmart.com/karma
      resources:
        requests:
          cpu: 50m
          memory: 32Mi
        limits:
          cpu: 200m
          memory: 256Mi
    config:
      route:
        group_by: ["alertname"]
      receivers: []

# Loki (Logs)
loki-stack:
  loki:
    enabled: false
    fullnameOverride: loki
    persistence:
      enabled: true
      storageClassName: default
      size: 10Gi
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
    config:
      table_manager:
        retention_deletes_enabled: true
        retention_period: 7d
      limits_config:
        ingestion_rate_mb: 4
        ingestion_burst_size_mb: 8
        max_concurrent_tail_requests: 20

  promtail:
    enabled: false
    fullnameOverride: promtail
    serviceMonitor:
      enabled: true
    config:
      clients:
        - url: http://loki:3100/loki/api/v1/push
      snippets:
        pipelineStages:
          - cri: {}
          - labeldrop:
              - filename
          - output:
              source: message
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

# Alerts
prometheus-msteams:
  enabled: false
  image:
    tag: v1.5.0
  connectors: []
  resources:
    requests:
      cpu: 5m
      memory: 16Mi
    limits:
      cpu: 10m
      memory: 32Mi
