argo:
  namespace: argo-cd
  destination:
    name: in-cluster
  sourceRepos:
    - "*"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
      allowEmpty: false
    retry:
      limit: 5
      backoff:
        duration: 10s
        factor: 2
    syncOptions:
      - ServerSideApply=true
      - ApplyOutOfSyncOnly=true
