{{- define "alerts" }}
{{- $root := .root }}
{{- $name := .name }}
{{- $alerts := .alerts }}
{{- $values := $root.Values }}
{{- if and $alerts (ne (printf "%t" (get ($alerts | default dict) "enabled")) "false") }}
{{- $fullName := printf "%s-%s" $values.prefix .name }}
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name:  {{ $fullName | quote }}
  namespace: {{ $values.namespace | quote }}
  {{- if $values.labels }}
  labels:
    {{- toYaml $values.labels | nindent 4 }}
  {{- end }}
spec:
  groups:
    - name: {{ $fullName | quote }}
      rules:
        {{- toYaml $alerts.rules | nindent 8 }}
{{- end }}
{{- end }}

# Start
{{- $root := . }}
{{- $values := $root.Values }}
{{- range $values.alerts | default list }}
{{- include "alerts" (dict "root" $root "name" . "alerts" (get $values .)) }}
{{- end }}
