name: ""

x509-certificate-exporter:
  fullnameOverride: certificate-exporter

  image:
    registry: acrosdev001.azurecr.io
    repository: x509-certificate-exporter
    tag: 3.6.0
    pullPolicy: IfNotPresent
  imagePullSecrets:
    - name: acrosdev001-azurecr-io-2

  prometheusServiceMonitor:
    create: false
  prometheusPodMonitor:
    create: false
  prometheusRules:
    create: false

  service:
    extraLabels:
      prometheus-metrics-1m: "true"

  secretsExporter:
    excludeNamespaces: ["newrelic", "linkerd"]
    secretTypes:
      - type: kubernetes.io/tls
        key: tls.crt
      - type: Opaque
        key: ca.pem
      - type: Opaque
        key: ca.postgres.pem
      - type: Opaque
        key: service.cert
    resources:
      limits:
        cpu: 750m
        memory: 150Mi
      requests:
        cpu: 250m
        memory: 100Mi

# Domains check
deployments: []

domains-certificate-exporter:
  image: ghcr.io/parchment-io/ssl-cert-checker:1.0.0
  environment:
    CHECK_INTERVAL: 1d
  resources:
    requests:
      cpu: 25m
      memory: 128Mi
    limits:
      cpu: 50m
      memory: 128Mi
  service:
    labels:
      prometheus-metrics-1m: "true"
    ports:
      - name: metrics
        port: 3000
