_helm: &helm
  repository: https://github.com/ganeshkr-54/shiptracks_ganesh.git
  branch: main
  path: helm/monitoring/prometheus

projects:
  monitoring:
    resourceWhitelist:
      - group: "*"
        kind: "*"
    destination:
      namespaces:
        - monitoring

applications:
  prometheus-stack:
    project: monitoring
    namespace: monitoring
    helm:
      <<: *helm
      valueFiles:
        - values.yaml


  # prometheus-dashboards:
  #   enabled: true
  # prometheus-alerts:
  #   enabled: true

  # prometheus-web:
  #   helm:
  #     values:
  #       grafana:
  #         tlsSecretName: monitoring-tls
  #         # annotations:
  #         #   appgw.ingress.kubernetes.io/request-timeout: "3600"
  #         #   appgw.ingress.kubernetes.io/ssl-redirect: "true"
  #         #   appgw.ingress.kubernetes.io/health-probe-status-codes: "200-399,401,403,404"
  #         hosts:
  #           - host: monitoring-np.oceansmart.com
  #             paths:
  #               - path: "/"
  #                 pathType: Prefix
  #       prometheus:
  #         tlsSecretName: monitoring-tls
  #         # annotations:
  #         #   appgw.ingress.kubernetes.io/request-timeout: "3600"
  #         #   appgw.ingress.kubernetes.io/ssl-redirect: "true"
  #         #   appgw.ingress.kubernetes.io/health-probe-status-codes: "200-399,401,403,404"
  #         hosts:
  #           - host: monitoring-np.oceansmart.com
  #             paths:
  #               - path: "/prometheus"
  #                 pathType: Prefix
  #       karma:
  #         tlsSecretName: monitoring-tls
  #         annotations:
  #           # appgw.ingress.kubernetes.io/request-timeout: "3600"
  #           # appgw.ingress.kubernetes.io/ssl-redirect: "true"
  #           # appgw.ingress.kubernetes.io/health-probe-status-codes: "200-399,401,403,404"
  #         hosts:
  #           - host: monitoring-np.oceansmart.com
  #             paths:
  #               - path: "/karma"
  #                 pathType: Prefix

  # prometheus-stack-crds:
  #   helm:
  #     version: kube-prometheus-stack-45.9.0

  # prometheus-stack:
  #   helm:
  #     version: 45.9.0
  #     values:
  #       prometheus:
  #         prometheusSpec:
  #           externalUrl: https://monitoring-np.oceansmart.com/prometheus
  #           routePrefix: "/prometheus"
  #           additionalScrapeConfigsSecret:
  #             enabled: true
  #             name: redpanda-dev-scrape-config
  #             key: redpanda-dev-scrape-config.yaml
  #       grafana:
  #         sidecar:
  #           alerts:
  #             enabled: true
  #             label: redpanda_dev_alerts
  #             labelValue: "1"
  #             searchNamespace: ALL
  #             watchMethod: WATCH
  #             reloadURL: "http://localhost:3000/api/admin/provisioning/alerting/reload"
