_helm: &helm
  repository: https://github.com/ganeshkr-54/shiptracks_ganesh.git
  branch: main
  path: base

applications:
  prometheus-dashboards:
    enabled: true
  prometheus-alerts:
    enabled: true
  # metrics-cert-exporter:
  #   enabled: true
  # metrics-sql-pipelines-dev:
  #   enabled: true
  metrics-timescale-pipelines-dev:
    enabled: true
  # metrics-sql-other:
  #   enabled: true
  # metrics-postgres-master-dev:
  #   enabled: true
  # metrics-postgres-timescale-dev:
  #   enabled: true
  # metrics-postgres-pipeline-dev:
  #   enabled: true
  metrics-kafka-395ceaaa-dev:
    enabled: true
  metrics-kafka-2db3e83f:
    enabled: true

  prometheus-secrets:
    project: monitoring
    namespace: monitoring
    helm:
      <<: *helm
      values:
        base:
          inject:
            sealedSecrets:
              prometheus-grafana-admin:
                encryptedData:
                  admin-password: AgBLgeL1wURgrOq4WTMy+YJfppc7vgfjdomIu85yaoGrMVhLEgtV0zo6ibn/XTES44kvdQwDCLN0ruYBSpBf/byzbiXlMTGVtLFZ/1ecB2/7ejkWRpIudPyLv4j3GYYGwlc4tVV9ybLaX6oy5vbaiUfXlKQuqtlJwu6Ysim8csPevy9S7Osr9GzDMN8vLr2mkeDQ9eY8xpRUv1nRg/qu1meoaxrdEXATjNIAYTXJQeg8U9Ty3lwyZV49dzSI/F/PuwswqYwBMvBuiQRQ7/NxlTbJnWyIDdq6i2rkWmuO6qsXNt/mLgLkZY5HZxiypjZGCYnGkX2lyAqtlv/LYeIgn2ixV2+voTio1u4OvVkM8rfRxxh+u77No/iuvNlkV5k2mJSOqDh1jy4noW9DOEef/2iHQFwR/3ar84c0+ea9Jmh80S6oKo+HT/h+zqgpL/AaOTsNKUDaOZUN7GYpcA7GAtciklUTNVnnySw5MsatZJrmcCzOvb3LGNV6Q3jJQdpE9PcJXentsrj5IvzNZGQHoNx+8B6CDjkNCz7ULnVNwt8csUxxja83Ajqbh5JU/xWhyuGLpYe6w2qcnVkZGvIRHA5yyir4pWWhRSPCmt3wq2yUNtI0tjJQlnb+gTe02qHNWX6m/Ga4krWVj8jLCZF7A6Lpn1zp1E06LW+VNQuxqNasJAvviISZUr9UzvK186tnkz/BKXhBRgg4QbHgeQZZyW0b
                  admin-user: AgCd/mdvodmEIQIeyUS9+aXY/T1Nkbwb8MYuiVrW+sfSlD1gGZxflshEtB7HRbIeNxLX41OqbHsGJ8tT2RY+aPVBOaUSrcT+KzEMDAe0NPt3iiuebE9/q3edAU44mzVGzLGriivLcjgORhoNPydjirVGilf5m3pzx7STn231tyoafb/ZPRLDceckS1J2kXptE9z+Yw6M9VzF8CVaa+mVjGgO/VtF929COt06BEFBd7sDiC9Os/mSilsVtNdP0gLUswb34EY5vzsIiSZ1qisRWCVwfCuWF0y3duYnqiIzZ+P1kFSEd/oIlAaxcHUopxjqfLTlKI/ivsDbXGlvwStsmDtGyR/uh4Z8IUml0KMIaLXZh1VxVit3JAFrofAN+wZFrvuM1pBAsJoGLQ9HeyLrLaXfO6W5Vi1cKacTIQh5uf41nE0A3WaI8rq65JUKde6w+RQPy9n9YhLJxbExZuPi0op+KKm1eKCslp4lknKSeELYMsuObMCpqACfd5QmBDhn9bqGehQWqT8H5VLNBv+AC5lNQaEZNo24Nz9CEKYRUs43+KVaWg/547dnN3OBszpS7idpuM4H1cij+2EkNe+sPNDLmYstafvNsSViJBIqV5XkRFLUbO5bc/GuZWj8tVKW1rc4ZlvPav3hc2A/QWeYFM5wrfrO4eAqvWaXsrdEf5vhIC0vrVPpxskImtdVBp2a3g0X6/aIMw==
              prometheus-grafana-credentials:
                encryptedData:
                  PROD_PROMETHEUS_BASIC_AUTH_PASSWORD: AgAvwsY1FXUNWYuBTzFWpJQIahImAzmvUdyee9YH3WN2Nd5E/j7VjVCIijGerWGxm1ucnYh2tC2eYXdPgoXlBrJ3tuKv5EG4G6GS/G2caCUZuHkr3Q8+B6vMbdLsrGufLws7nHsEvuGLZff1QMSXkJXowzrY5YmhEL6TD0tRbfGzmMasNFyO0bOYiNqb9UpuyQJCW0C5cPgZawZPhERnqWTFUm0e6ZfnOd5lSfTVsXvmSs6Hve3cijnnCdcAe/OxuSmEc3cCt1UxtdfEV0mQLENfibR1BODy4OZMuKjVXYenWpetPm0SvjdIPY2AkDdqXvsFsubd0aZ4hUyV+AwQ8nas3ISkPzMXcV+LQ6kktb/QD5RgsNK7E2nQjbSbUg4DYObZJBU3vbn4NTZjZgOlPGA5zB3v2GmasrfF6T4zD7wS0C4plEE2Eqv8LW246u3HTfnXGJZxdlVb4ZkV/4YQxdltDCEK00FA06+KcAEISh07EUD2RMIay7Gw9bOntfloIkQYzwwMyJ9cfVAAmQr91F5xoGzJc2lLyLfVu2bctiwYxX/gqSIW/179P2w2MUqgcCg48pDEnkhJ5kWnCPgoP2vc3/+szGCt2vYLWzW44YN/49nc+VLWXY7gOs53pvEDT/g4FVm3pe8si7X2s5GgP+TjHq6exnC6NZncaOuUuJ6cXiP99BWNXbIBwl2G7BoM1H2elirTQGIO8JVgJbR82PjZ
                  PROD_PROMETHEUS_BASIC_AUTH_USER: AgDinjyvkC0oYOV0aWVNQolARKoZ38bG/N7AYBV36OTnn6H0q0e9jrKQz/98veBYwltxOFBA1vyxFE1uDn0TSCHLR7sSsPFQZDnkYfl+qYRhvPCWU0rD5X94h0uvMFQE8MoAsn5QLAVOhD5631Z8DqsFuNDg6KYx0T9CAfHuZ2NqtoMwZFxbom/g/0J0gk8Gd+Ge82TL+mCfBRHHoK/ckv+gowLnd7RAfF2Pz+xUmsn8Jj8Ifp3bgTpajPDXACdCnUUlVIgZ04jsl28fT1fClIjGaSszxiWZcB7ZFJmpnesvY1NrbAvypfuwcn+jrhBAXtbehh8H8WkLzCDtxuze3E+ecUYsH9HEIVUiKOuHIZUVY5GU992YN1U4qJQz3jUBryDkGj7p7VsDXJkh7nONj2woFp/w74A5AQ0HssvRV0n8oUUzazmejcZ08ziNxSP+P6sh1JD56Fnh7cVDtKZ9H81ZoEAJYThxVmhSFw9sXvmYnx/4MSkae4Aa5wDsul3tZHWBbnOUSpq1nB7mYOMSH7J/ILuKB9ZP85kxXRmbNjLxhdaYPIPue36nyqvZd4NTo73TCPrttF/PtaSIEF+DfCZrJJKnAa1g45zfqiNRb8YdzULylQjnrZ51qARzRW+UTUH14gCxKh+pb0Ke/TlrQuzVqPuxPLEcQOEQBj+WK+SSn/hv5QJvdwuZjbfB3hos0jeulVMBEg==
              # redpanda-credentials:
              #   encryptedData:
              #     REDPANDA_PASSWORD: AgA6wff6pTwn023SD0rKui+WjusPpl6sx8isjTyIYtV8SKG4nult2BlWpScPwoQb3k9WI6bJCzQsqOjmXqxJe3NIho2jCswJoQqotfTDnb4OemWefERfUPpO8EEjxuBriWFwbq6FNVJuR/ZmjbvyOJX/dIMpVH0K4JGybPCAvsx9jfZY+EIOOLCR3uGnXwVB9KjwGxXHsZQiGy1l1cIRa+P3fQjzaFhqP2AW14G6U2PeGcQYfM56Q5xq7YvppG2dRtoeOu6We8Z0VBMDan5LQFh+WhLaqlT/TXkJX82FogLD2uHvtwRuTRzGAeYxpgwSn6/PFKFYV7lsyfE1xIJFW8SaJCLkXUW8oOko+AO4WlReYn1Y4TRUmFKAupJF9AyUOOL65+W9Kp2bowkNDXkoKWxbSINexMgcl/QpIFeyX8vdG1i0jVfur6f38jCCn+CHERRSfJrmzOQX7L6qsgo98sdeUA3iOx0wljNBn5BPu+VhFt1Utk2S4oYQTi02vRD8sN6UvnGyiCQ/Jku2Hyc34lQtpiSBL0mG2Sj46lN4DS6TP0qTKq51SVm/KHzcx+gx/twjL+JzP7hiuzS8DjpO0XxZPI9bMQ5a1TqU3r8qtIQhGPbzH5+skFeWMVcxRRNgIMXrlofHbiLQKJgigmArfvkvx9r33VlapS8RoTRn9nXyPxwt7teLGsvAv/XJ8yZcLAKVH+H5g2DFHstICsItONdd3Ii2KKt4sXA=
              #     REDPANDA_USERNAME: AgBREo9nrjLTOepUr+IJA1RKZ6ztCBEvax3WDAdabTJv57i2g0uiqQcNfaG3LhQHf42I66+PVxviPRtDA+Wa0supxKbwjiPa4lpkiLN23LP9EvMnWbYgBx3qbGr2+BRbE5EQYWuo1sQvrPZi674O3S6xcp8ZORgglAnOipQa70etc5RPkD1tX9wEA1TWcdI8UYDS7TLrjVbGD7LTFSawl9vdxmvmHBWpQ18808XNLdSwvT2XcUdsBrx2knCIKQ7dJagQT0SOhsK7DOSKMnnwsk3G4jNWsCctwF+srT2a7Gh2PGbhl8XxSXk131gNHwQU+urD08CLZFR+V5z5w0iYu+Mbo7AezBNj8fuCkIRoKAHmaysdD9XlNyMwFK2nXwlWLMea46Wqr9CLqG4MsYLZ8BJPPfeSShRtVqa/weQvA0zrMyuwFTIEbc5WXBsNYDuzJLFwrwKWPXWo7dQn7WbGk7WsxM4xVaoxOWcy8XaNfcmITiIKDKn6SLHVI0nV0Dh1MUqe8UpVTaYEqWmYcnCq2sq3NmpdHxbQ6e//zsrjZ9yCPcAhUqSFgSVKv/tT3WSZH/eTCVL7Fyt941459VPBX/fJ/CulLu36Fq75cvow/a8X1Wm1+2oh6mq8r4a6ylctN+S8M7Kbl3IY/QfHJz5MPIOH8fLd8Oa54/mFl/lZA7FeWyVm55J9h2UHLzqi7mr1Is2pi/byoUagFNPR

  prometheus-web:
    helm:
      values:
        grafana:
          tlsSecretName: monitoring-tls
          annotations:
            appgw.ingress.kubernetes.io/request-timeout: "3600"
            appgw.ingress.kubernetes.io/ssl-redirect: "true"
            appgw.ingress.kubernetes.io/health-probe-status-codes: "200-399,401,403,404"
          hosts:
            - host: monitoring-np.oceansmart.com
              paths:
                - path: "/"
                  pathType: Prefix
        prometheus:
          tlsSecretName: monitoring-tls
          annotations:
            appgw.ingress.kubernetes.io/request-timeout: "3600"
            appgw.ingress.kubernetes.io/ssl-redirect: "true"
            appgw.ingress.kubernetes.io/health-probe-status-codes: "200-399,401,403,404"
          hosts:
            - host: monitoring-np.oceansmart.com
              paths:
                - path: "/prometheus"
                  pathType: Prefix
        karma:
          tlsSecretName: monitoring-tls
          annotations:
            appgw.ingress.kubernetes.io/request-timeout: "3600"
            appgw.ingress.kubernetes.io/ssl-redirect: "true"
            appgw.ingress.kubernetes.io/health-probe-status-codes: "200-399,401,403,404"
          hosts:
            - host: monitoring-np.oceansmart.com
              paths:
                - path: "/karma"
                  pathType: Prefix
        alertmanager:
          tlsSecretName: monitoring-tls
          annotations:
            appgw.ingress.kubernetes.io/request-timeout: "3600"
            appgw.ingress.kubernetes.io/ssl-redirect: "true"
            appgw.ingress.kubernetes.io/health-probe-status-codes: "200-399,401,403,404"
          hosts:
            - host: alertmanager-np.oceansmart.com
              paths:
                - path: "/"
                  pathType: Prefix

  # prometheus-stack-crds:
  #   helm:
  #     version: 19.0.0

  prometheus-stack-crds:
    helm:
      version: kube-prometheus-stack-45.9.0

  prometheus-stack:
    helm:
      version: 45.9.0
      values:
        prometheus:
          prometheusSpec:
            externalUrl: https://monitoring-np.oceansmart.com/prometheus
            routePrefix: "/prometheus"
            additionalScrapeConfigsSecret:
              enabled: true
              name: redpanda-dev-scrape-config
              key: redpanda-dev-scrape-config.yaml
        grafana:
          sidecar:
            alerts:
              enabled: true
              label: redpanda_dev_alerts
              labelValue: "1"
              searchNamespace: ALL
              watchMethod: WATCH
              reloadURL: "http://localhost:3000/api/admin/provisioning/alerting/reload"
          # additionalDataSources:
          #   - name: Prometheus
          #     type: prometheus
          #     url: http://prometheus-prometheus:9090
          #     access: proxy
          #     isDefault: true
          #     jsonData:
          #       timeInterval: 30s
        alertmanager:
          alertmanagerSpec:
            externalUrl: https://alertmanager-np.oceansmart.com
          config:
            route:
              group_by: ["alertname"]
              receiver: nonproduction-alerts
              routes:
                - receiver: "null"
                  match:
                    alertname: InfoInhibitor
                - receiver: nonproduction-alerts
                  match_re:
                    alertname: ^(ApplicationDown|KubeNodeNotReady|KubePodCrashLooping|KubeDeploymentReplicasMismatch|KubeStatefulSetReplicasMismatch|KubeContainerWaiting|KubePersistentVolumeFillingUp)$
            receivers:
              - name: "null"
              - name: "nonproduction-alerts"
                slack_configs:
                  - api_url: ""
                    channel: "#alerts-test"
                    send_resolved: true
          #           color: '{{`{{ template "slack.color" . }}`}}'
          #           title: '{{`{{ template "slack.title" . }}`}}'
          #           text: '{{`{{ template "slack.text" . }}`}}'
          #   templates: |-
          #     - "/etc/alertmanager/config/template_1.tmpl"
          # templateFiles:
          #   template_1.tmpl: |-
          #     {{`{{ define "slack.color" }}
          #       {{ if eq .Status "firing" }}danger{{ else }}good{{ end }}
          #     {{ end }}`}}

          #     {{`{{ define "slack.title" }}
          #       [{{ .Status | upper }}] {{ .CommonLabels.alertname }}
          #     {{ end }}`}}

          #     {{`{{ define "slack.text" }}
          #       Alert *{{ .CommonLabels.alertname }}* is *{{ .Status }}*.
          #     {{ end }}`}}e
