---
name: Deployment
on:
  push:
    branches: [main, master]
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write
  issues: write
  packages: read
  pull-requests: write
  repository-projects: read
  statuses: write

jobs:
  terraform:
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        working-directory:
          - 'terraform/deployments/on-prem/argo-cd'
    uses: ./.github/workflows/terraform-azure-v1.yml
    secrets: inherit
    with:
      runs-on: '["self-hosted","linux","x64"]'
      working-directory: ${{ matrix.working-directory }}
      state: org
      target: on-prem
      apply: false
